<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
  <% if (user) { %>
  <body>
    <h4> Index of URLs</h4>
    <% Object.keys(urls).forEach(function(id) { %><% var urlObj = urls[id] %>
    <% if (urlObj.userID === userId) { %>
    <form method="POST" action="/urlObj.urls/<%= urlObj.url %>/delete">
      <p>
      <a href="/u/<%= `${urlObj.shortURL}` %>">http://u/<%= `${urlObj.shortURL}` %></a>
      <%= `${urlObj.shortURL} ---> ${urlObj.longURL}` %>
      <a href="/urlObj.shortURL/<%= urlObj.shortURL %>">Edit</a>
      <input type="submit" value="Delete">
      </p>
    </form>
    <% } %>
    <% }); %>
    
      <a href="/urls/new">Add new URL</a>
  </body>
  <% }; %>
</html>